{% extends "base.html" %}

{% set prefix = '' %}
{% if site.baseurl %}
    {%   set prefix = '/' + site.baseurl %}
{% endif %}


{% block body %}

<div class="slider">

    {% for image in this["slider_images"] %}
        <div class="slider-image"
             style="background-image: url({{ prefix }}/{{ image }}); background-position:
             center center;">
        </div>
    {% endfor %}

    <div class="title-area text-center container">
        <h1 class="our-names">{{ this.title }}</h1>
        <div class="what-when">
            {% block title_area %}
            {% endblock %}
        </div>
    </div>

</div>

{{ this.body }}

{% endblock %}
